*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', regular;
}
.body{
    height: 100vh;
    width: 100%;
    background-color: rgb(85, 13, 152);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;

}
.quiz{
    height: 22rem;
    width: 28rem;
    background-color: rgba(194, 198, 201, 0.841);
    color: black;
    border-radius: 10px;
    /* padding: .5rem; */
}
.body .quiz h1{
    text-align: center;
    font-weight: 900;
    margin-top: 3px;
    padding: 11px 0;
    width: 100%;
    border-bottom: 1px solid black;
}
.body .quiz .questions h2{
    margin: 10px;
    margin-bottom: 6px;
}
.body .quiz .questions #answer-buttons button{
    text-align: left;
    height: 2rem;
    width: 70%;
    border: .05px solid rgba(0, 0, 0, 0.564);
    border-radius: 5px;
    padding: 5px;
    margin: 3px;
    margin-left: 6.5px;
    cursor: pointer;
    transition: all ease-in .2s;
}
.body .quiz .questions #answer-buttons button:hover{
    background-color: black;
    color: rgba(194, 198, 201, 0.841);
}

#next-btn{
    background-color: black;
    color: aliceblue;
    width: 30%;
    border-radius: 12px;
    border: none;
    font-size: 17px;
    padding: 2px;
    cursor: pointer;
    transition: all ease-in-out .3s;
    margin: 20px auto 0;
    display: block;
}
#next-btn:hover{
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}
.correct{
    background-color: #9aeabc;
}

.incorrect{
    background-color: #ff9393;
}